<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer View</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<form name="hmsForm">
  <div id="wrap">
    <table class="tbl_View">
      <caption>Employee</caption>
      <colgroup>
        <col style="width:30%" />
        <col style="width: ;" />
      </colgroup>
      <tbody>
      <tr>
        <th>번호</th>
        <input type="hidden" id="id" th:value="${board.no}"/>
        <td th:text="${board.no}">사원번호</td>
      </tr>
      <tr>
        <th>작성자</th>
        <td th:text="${board.name}"></td>
      </tr>
      <tr>
        <th>제목</th>
        <td th:text="${board.sub}"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td th:text="${board.content}"></td>
      </tr>
      </tbody>
    </table>
    <div class="txt-rt mt20">
      <input type="button" value="목록" th:onclick="|location.href='@{/board}'|"/>
      <a th:href="@{/board/update/{id}(id = ${board.no})}" class="myButton">수정</a>
      <input type="button" value="삭제" id="btn-delete"/>
    </div>
  </div>
</form>
</body>
<th:block th:replace="/fragments/footer::Js2"></th:block>
</html>